# Example configuration.

# To let the URL shortener listen on example.com/, uncomment the following
# lines:
#SERVER_NAME=example.com


# It is also possible to prefix the URL path. For instance, by uncommenting the
# following lines the shortener will listen on example.com/shortener/ :
#SERVER_NAME=example.com
#BASE_URL=/shortener
