<tr>
    <td>
        <a title="Copy" class="copy-url" data-url="{{ url_for('main.forward', slug=u.slug, _external=True) }}">
            <span class="icon has-text-grey">
                <i class="fas fa-copy">
                </i>
            </span>
        </a>
    </td>
    <td><span class="has-text-grey-light">{{ base }}</span>{{ u.slug }}</td>
    <td>{{ u.dest }}</td>
    <td>{{ box(class_="urlcheckbox") }}</td>
    <td>
        <a title="Delete" class="delete-url" data-slug="{{ u.slug }}">
            <span class="icon has-text-danger">
                <i class="fas fa-times"></i>
            </span>
        </a>
    </td>
</tr>
