{% extends 'base.html' %}

{% block content %}
<section class="section">
<h1 class="title">Add shortened URL</h1>
{% with messages = get_flashed_messages(category_filter=["add_url_error"]) %}
{% for message in messages %}
<div class="notification is-danger">{{ message }}</div>
{% endfor %}
{% endwith %}
<form action="" method="post" class="addurlform">
    {{ form.hidden_tag() }}
    {{ render_field_full(form.dest) }}
    {{ form.custom.label(class_="label") }}
    {{ render_field_full(form.custom) }}
    <div class="field" id="customurl-wrapper" {% if form.custom.data=="random" %} style="display:none;" {% endif%}>
        <div class="field has-addons">
        <p class="control">
            <a class="button is-static" id="customurl-ext">{{ base }}</a>
        </p>
        <p class="control">
            {% if form.customurl.errors %}
            {{ form.customurl(class_="input is-danger") }}
            {% else %}
            {{ form.customurl(class_="input") }}
            {% endif %}
        </p>
        </div>
        {% for e in form.customurl.errors %}
        <p class="help is-danger">{{ e }}</p>
        {% endfor %}
    </div>

    {{ render_field(form.submit, style="is-primary") }}

    <div class="field has-addons">
    </div>
</form>
</section>

<section class="section">
    <h1 class="title">Shortened URLs</h1>
    {% with messages = get_flashed_messages(category_filter=["select_error"]) %}
    {% for message in messages %}
    <div class="notification is-danger">{{ message }}</div>
    {% endfor %}
    {% endwith %}
    <form action="" method="post" id="multiselectform">
        {{ msform.hidden_tag() }}
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th style="width:.1%;"><input type="checkbox" id="selectall"></th>
                    <th style="width:.1%;"></th>
                    <th>Shortened URL</th>
                    <th>Destination</th>
                    <th style="width:.1%;"></th>
                    <th style="width:.1%;">
                        <span hidden id="span-btn-multidelete">{{ msform.submit }}</span>
                        <a hidden title="Delete selected" id="multidelete">
                            <span class="icon has-text-danger">
                                <i class="fas fa-times">
                                </i>
                            </span>
                        </a>
                    </th>
                </tr>
            </thead>
            {% for u,box in zip(urls,msform.boxes) %}
            {% include '_url_row.html' %}
            {% endfor %}
        </table>
    </form>
</section>

<div id="modal-url-edit" class="modal {% if editform.errors %}is-active{% endif %}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <form action="" method="post" id="editurlform">
                {{ editform.hidden_tag() }}
                {{ render_field_full(editform.dest) }}

                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static" id="customurl-ext">{{ base }}</a>
                    </p>
                    <p class="control">
                        {% if editform.newslug.errors %}
                        {{ editform.newslug(class_="input is-danger") }}
                        {% else %}
                        {{ editform.newslug(class_="input") }}
                        {% endif %}
                    </p>
                </div>
                <div class="field">
                    {% for e in editform.newslug.errors %}
                    <p class="help is-danger">{{ e }}</p>
                    {% endfor %}
                </div>

                <div class="field">
                    {{ editform.submit(class_="is-primary button") }}
                    <button class="button modal-cancel" type="button">Cancel</button>
                </div>

            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<form hidden action="" method="post" id="delurlform">
    {{ delform.csrf_token() }}
    {{ delform.slug(class_="delslug") }}
    {{ delform.submit }}
</form>

<script type="text/javascript">
    $("form.addurlform input:radio").click(function(){
        if ($(this).val() == 'manual') {
            $('#customurl-wrapper').show(200);
            //$('#customurl').prop('disabled', false);
            //$('#customurl-ext').prop('disabled', false);
        } else {
            $('#customurl-wrapper').hide(200);
            //$('#customurl').prop('disabled', true);
            //$('#customurl-ext').prop('disabled', false);
        }
    });

    const IconResetter = {
        run: function() {
            $("a.copy-url span").removeClass("has-text-success").addClass("has-text-grey");
            $("a.copy-url i").removeClass("fa-check").addClass("fa-copy");
            $("a.copy-url").prop("title","Copy");
        },

        cancel: function() {
                clearTimeout(this.timeoutID);
        },

        arm: function() {
            if (typeof this.timeoutID === 'number') {
                this.cancel();
            }
            this.timeoutID = setTimeout(this.run, 3000);
        }
    };

    $("a.copy-url").click(function(){
        IconResetter.run();
        navigator.clipboard.writeText($(this).data("url"));
        $(this).find("span").removeClass("has-text-grey").addClass("has-text-success");
        $(this).find("i").removeClass("fa-copy").addClass("fa-check");
        $(this).prop("title","Copied!");
        IconResetter.arm();
    });
    $("a.delete-url").click(function(){
        var slug = $(this).data("slug");
        if ( confirm(`Are you sure you want to delete the shortened url ${slug}?`) ) {
            $("#delurlform input.delslug").val(slug);
            $("#delurlform").submit();
        }
    });

    function updateCheckBoxes() {
        if ( $("input.urlcheckbox:checked").length == 0 ){
            $("#selectall").prop("indeterminate", false);
            $("#selectall").prop("checked", false);
            $("#multidelete").attr("hidden", true);
        }
        else if ( $("input.urlcheckbox:not(:checked)").length == 0 ){
            $("#selectall").prop("indeterminate", false);
            $("#selectall").prop("checked", true);
            $("#multidelete").attr("hidden", false);
        }
        else {
            $("#selectall").prop("indeterminate", true);
            $("#selectall").prop("checked", false);
            $("#multidelete").attr("hidden", false);
        }
    }
    $(updateCheckBoxes);
    $("input.urlcheckbox").change(updateCheckBoxes);
    $("#selectall").change(function() {
        $("input.urlcheckbox").prop("checked",$(this).prop("checked"));
        $("#multidelete").attr("hidden",($(this).prop("checked")==false));
    });
    $("#multidelete").click(function(){
        var cnt = $("input.urlcheckbox:checked").length;
        if (confirm(`Are you sure you want to delete the ${cnt} selected items?`)){
            $("#span-btn-multidelete").find("input").click();
        }
    });
    
    // Allow the user to shift+click to select multiple checkboxes at the same time.
    // https://stackoverflow.com/a/44510561
    var lastChecked = null;
    $(function() {
        var $checkboxes = $('input.urlcheckbox');
        $checkboxes.click(function(e) {
            if (!lastChecked) {
                lastChecked = this;
                return;
            }
            if (e.shiftKey) {
                var start = $checkboxes.index(this);
                var end = $checkboxes.index(lastChecked);
                $checkboxes.slice(Math.min(start,end), Math.max(start,end)+1).prop("checked", this.checked);
            }
            lastChecked = this;
        });
    });
    
    $(".modal-url-edit-trigger").click(function(){
        $("#modal-url-edit").addClass("is-active");
    });
    $(".modal-background, .modal-close, .modal-cancel").click(function(){
        $(".modal").removeClass("is-active");
    });
    $(document).keydown(function(e){
        if (e.which == 27) {
            $(".modal").removeClass("is-active");
        }
    });
    $(".edit-url").click(function(){
        $("#editurlform input[name='oldslug']").val($(this).data("slug"));
        $("#editurlform input[name='newslug']").val($(this).data("slug"));
        $("#editurlform input[name='dest']").val($(this).data("dest"));
        $("#modal-url-edit").addClass("is-active");
    });



    
</script>
{% endblock %}
