{% extends 'base.html' %}

{% block content %}
<section class="section">
<h1 class="title">Add shortened URL</h1>
{% with messages = get_flashed_messages(category_filter=["add_url_error"]) %}
{% for message in messages %}
<div class="notification is-danger">{{ message }}</div>
{% endfor %}
{% endwith %}
<form action="" method="post" class="addurlform">
    {{ form.hidden_tag() }}
    {{ render_field_full(form.dest) }}
    {{ render_field_full(form.custom) }}
    <div class="field" id="customurl-wrapper" {% if form.custom.data=="random" %} style="display:none;" {% endif%}>
        <div class="field has-addons">
        <p class="control">
            <a class="button is-static" id="customurl-ext">{{ base }}</a>
        </p>
        <p class="control">
            {% if form.customurl.errors %}
            {{ form.customurl(class_="input is-danger") }}
            {% else %}
            {{ form.customurl(class_="input") }}
            {% endif %}
        </p>
        </div>
        {% for e in form.customurl.errors %}
        <p class="help is-danger">{{ e }}</p>
        {% endfor %}
    </div>

    {{ render_field(form.submit, style="is-primary") }}

    <div class="field has-addons">
    </div>
</form>
</section>

<section class="section">
<h1 class="title">Shortened URLs</h1>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th style="width:.1%;"></th>
            <th>Shortened URL</th>
            <th>Destination</th>
            <th style="width:.1%;"></th>
        </tr>
    </thead>
    {% for u in urls %}
    {% include '_url_row.html' %}
    {% endfor %}
</table>
</section>

<form hidden action="" method="post" id="delurlform">
    {{ delform.csrf_token() }}
    {{ delform.slug(class_="delslug") }}
    {{ delform.submit }}
</form>


<script type="text/javascript">
    $("form.addurlform input:radio").click(function(){
        if ($(this).val() == 'manual') {
            $('#customurl-wrapper').show(200);
            //$('#customurl').prop('disabled', false);
            //$('#customurl-ext').prop('disabled', false);
        } else {
            $('#customurl-wrapper').hide(200);
            //$('#customurl').prop('disabled', true);
            //$('#customurl-ext').prop('disabled', false);
        }
    });

    const IconResetter = {
        run: function() {
            $("a.copy-url span").removeClass("has-text-success").addClass("has-text-grey");
            $("a.copy-url i").removeClass("fa-check").addClass("fa-copy");
            $("a.copy-url").prop("title","Copy");
        },

        cancel: function() {
                clearTimeout(this.timeoutID);
        },

        arm: function() {
            if (typeof this.timeoutID === 'number') {
                this.cancel();
            }
            this.timeoutID = setTimeout(this.run, 3000);
        }
    };

    $("a.copy-url").click(function(){
        IconResetter.run();
        navigator.clipboard.writeText($(this).data("url"));
        $(this).find("span").removeClass("has-text-grey").addClass("has-text-success");
        $(this).find("i").removeClass("fa-copy").addClass("fa-check");
        $(this).prop("title","Copied!");
        IconResetter.arm();
    });
    $("a.delete-url").click(function(){
        var slug = $(this).data("slug");
        if ( confirm(`Are you sure you want to delete the shortened url ${slug}?`) ) {
            $("#delurlform input.delslug").val(slug);
            $("#delurlform").submit();
        }
    });
</script>
{% endblock %}
